<% include partials/header.ejs %>
  <h1>Erin Doyle<h1>
  <p>Erin is a student at Laurier University in Waterloo for psychology.</br>
    Music buff extraordinaire, she frequently looks for new music and attends a variety of concerts.
  </p>
<% include partials/footer.ejs %>
