<% include partials/header.ejs %>
  <h1>Flo Allen<h1>
  <p>Flo retired from working at the government's Familiy Responsibility Office (FRO) that deals with child support payment.</br>
    She enjoys making jewelery, baking and gardening in her spare time.
  </p>
<% include partials/footer.ejs %>
