<% include partials/header.ejs %>
  <h1>Megan Doyle<h1>
  <p>Megan, the author of this node website; is a 2nd year Conputer Programming and Analysis student at Georigan College. </br>
    She enjoys playing video games, listening to music and programming.
  </p>
<% include partials/footer.ejs %>
