<% include partials/header.ejs %>
  <h1>Raimo Suvanto<h1>
  <p>Raimo is a retired roofer and window installer; born in Thunder Bay but shortly moved back to Finland and returned to Canada in the 80's.</br>
    He is a big fan of Formula 1 racing and playing freecell on the computer.
  </p>
<% include partials/footer.ejs %>
